body #page-edit [class^='block-editor-'] > .block .teaser,
.block.teaser:not(.gridBlock *) {
  margin-top: $spacing-medium;

  .card {
    .card-inner {
      .card-summary {
        .title {
          color: var(--theme-foreground-color);
        }

        .description {
          color: var(--theme-foreground-color);
        }
        time,
        .headline {
          color: var(--theme-foreground-accent-color);
        }
      }
      .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@mixin compact-teaser {
  body #page-edit [class^='block-editor-'] .block .teaser,
  .block.teaser {
    .card {
      display: flex;
      height: 100%;
      flex-direction: column;
      border: solid var(--cardBorderColor, var(--theme-border-color));
      border-width: var(
        --cardBorderWidth,
        var(--theme-border-width)
      ) !important;

      .card-inner {
        padding: 0;

        .card-summary {
          @container (max-width: #{$largest-mobile-screen}) {
            padding-top: $spacing-medium !important;
          }

          padding: $spacing-medium $spacing-small $spacing-medium $spacing-small;

          .title {
            color: var(--theme-top-foreground-color) !important;
          }

          .description {
            color: var(--theme-top-low-contrast-foreground-color) !important;
          }
          time,
          .headline {
            color: var(--theme-top-accent-color) !important;
          }
        }
      }

      &:not(.no-link):hover {
        background-color: color-mix(
          in srgb,
          var(--theme-high-contrast-color) 80%,
          var(--theme-top-foreground-color)
        );
      }
    }

    &:not(:has(.no-link)):hover {
      background-color: color-mix(
        in srgb,
        var(--theme-high-contrast-color) 80%,
        var(--theme-top-foreground-color)
      ) !important;
    }

    // Se o card não tem link, garante que não tenha ponteiro clicável
    &:has(.no-link) {
      cursor: default;
      .card {
        cursor: default;
      }
    }
  }
}

:is(
    .block.gridBlock:not(.one),
    .block.custom-grid:not(.layout-1),
    .grid-items:not(.one)
  ) {
  @include compact-teaser;
}

@media only screen and (max-width: 768px) {
  :is(.block.gridBlock.one, .block.custom-grid.layout-1, .grid-items.one) {
    @include compact-teaser;
  }
}
