.breadcrumbs {
  .breadcrumb {
    @include layout-container-width();
    @include adjustMarginsToContainer($layout-container-width);
    .section.active {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
