.view-viewview.section-search {
  article#content header {
    .documentFirstHeading {
      margin-bottom: $spacing-medium;
    }
    > div {
      display: flex;
      flex-direction: row;
      margin-bottom: $spacing-medium;
      gap: 5px;
      .ui.label {
        border: 2px solid var(--primary-foreground-color);
        background-color: var(--primary-color);
        color: var(--primary-foreground-color);
      }
    }
  }
  .ui.basic.segment.content-area #content-core {
    .tileHeadline a.summary.url,
    .tileFooter a {
      color: var(--primary-foreground-color);
    }
  }
  #page-search #content #content-core .search-footer {
    .ui.pagination.menu {
      border: 2px solid var(--primary-foreground-color);
      background-color: var(--primary-color);
      a.item {
        color: var(--theme-foreground-color);
        &.active {
          background-color: var(--primary-foreground-color) !important;
          color: var(--primary-color) !important;
        }
      }
    }
  }
}
